@import 'fonts';
@import 'mixins';
@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    font-size: calc(15px + 100vw / 144);

    @include minWidth($tablet) {
        font-size: calc(12px + 100vw / 144);
    }

    @include minWidth(1440px) {
        font-size: 20px;
    }
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.year {
    text-align: center;
    margin-bottom: 2em;
}

.month {
    font-size: 1.15em;
    margin-bottom: 1.5em;

    table {
        margin: 0 auto;

        th {
            width: 2.5em;
        }

        td {
            text-align: center;
            height: 1.5em;
            cursor: pointer;

            @include transition(background-color);

            &:active {
                background-color: orange;
            }

            &:empty {
                pointer-events: none;
            }
        }
    }

    &-name {
        text-align: center;
        margin-bottom: 0.6em;
    }

    &-wrapper {
        @include minWidth($mobile) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    @include minWidth($mobile) {
        width: 48.5%;
    }
    @include minWidth($tablet) {
        width: 31.5%;
    }
}
